---
title: "Constitution"
---

<!-- <link rel="stylesheet" href="/css/presentations/reveal.css"> -->
<!-- <link rel="stylesheet" href="/css/presentations/theme.css" id="theme"> -->
<div class="reveal">
  <!-- Any section element inside of this container is displayed as a slide -->
  <div class="slides">
    <section>
      <h2>Indian Pirates Constitution</h2>
      <ul>
        <li>Preamble</li>
        <li>Article 1: Basic Principles</li>
        <li>Article 2: Rights</li>
        <li>Article 3: Membership</li>
        <li>Article 4: Organizational Goals</li>
      </ul>
      <br />
      <br />Version 5.2.0 Draft<br />
      <a href="/pdf/piratesin-constitution-3.1draft2.pdf">Download as PDF</a>
      <br /><br /><br />
    </section>
    <section>
      <h3>Preamble</h3>
      <ul>
        <li>
          Who are we?
          <ul>
            <li>
              We are a group of people engaging in political activities with the
              aim of becoming a political party some day*.
            </li>
          </ul>
        </li>
        <li>
          Why Indian Pirates?
          <ul>
            <li>
              No one asked us how we think this world should be. We should no
              longer accept what we supposedly cannot change. Instead, we need
              to change what we cannot accept.
            </li>
            <li>So we are remaking this world the way we think it should be</li>
            <li>Based on equality, democracy and transparency.</li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>Preamble</h3>
      <ul>
        <li>
          Fix what is broken
          <ul>
            <li>Peer-to-Peer vs hierarchical society</li>
            <li>Association of peers vs leaders and cadres</li>
            <li>Direct democracy vs Plutocracy</li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>Preamble</h3>
      <ul>
        <li>
          What is special about us?
          <ul>
            <li>
              We are not a family controlled party, we are also not a cadre
              party, everyone has a voice, every decisions we make is public
              (transparency), our funding source is public.
            </li>
            <li>
              We need systematic change in political parties, not just different
              people following the same system. If only the party is really
              transparent and accountable to its members, it can really uphold
              its values. To make that possible, dissent and not discipline is
              the cornerstone of our group. Once you become a member you cannot
              be expelled from the group for indiscipline, a common tactic used
              by all parties to suppress dissent.
            </li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>Article 1: Basic Principles</h3>
      <ul>
        <li>
          Section 1: Indian Pirates are committed to support human rights,
          direct democracy and participation in government, reform of copyright
          and patent law, free sharing of knowledge (open content), information
          privacy, transparency, freedom of information, anti-corruption and
          network neutrality.
        </li>
      </ul>
    </section>

    <section>
      <h3>Article 1: Basic Principles</h3>
      <ul>
        <li>
          Section 2: Human beings have innate value. Rights of every human being
          is described in Universal Declaration of human rights. We will fight
          to ensure these rights are not denied to anyone.
        </li>
        <li>
          Section 3: We understand individuals and families of all sections of
          the society and different geographic locations have a right to realize
          equal life chances regardless of identity. Economic inequity, caste or
          gender or sexuality based discrimination, and differential abilities
          prevent many from realizing the equity of opportunities.
        </li>
      </ul>
    </section>

    <section>
      <h3>Article 1: Basic Principles</h3>
      <ul>
        <li>Section 4: We should cooperate with each other.</li>
        <li>
          Section 5: Every one has a right to food, housing, education,
          healthcare and privacy.
        </li>
        <li>Section 6: Knowledge should be free.</li>
        <li>Section 7: We promote transparent government.</li>
      </ul>
    </section>

    <section>
      <h3>Article 1: Basic Principles</h3>
      <ul>
        <li>
          Section 8: We are opposed to the use of violence to achieve political
          aims. We will not, in any manner, promote or instigate or participate
          in violence. AND WE MEAN IT. However, we see violence as distinct from
          the issue it supports or opposes. The violence must be prosecuted
          through prevailing laws, and the issue must be evaluated through
          debate on its own merit.
        </li>
        <li>
          Section 9: In a world with limited resources, unlimited growth is
          impossible. It is our responsibility to protect the environment and
          pass on this planet earth to our future generations in a livable
          condition.
        </li>
      </ul>
    </section>

    <section>
      <h3>Article 2: Rights</h3>
      <ul>
        <li>
          <p>Section 1: Activities</p>
          <ul>
            <li>
              Sub-Section 1: Any associate may propose a new activity (Surveys,
              Campaigns etc that involves coordinated effort to reach general
              public as Indian Pirates).
            </li>
            <li>
              Sub-Section 2: Any new activity proposal must get support from at
              least 2 members.
            </li>
            <li>
              Sub-section 3: A new activity proposal will be rejected if at
              least one member blocks it (if the activity is against our basic
              principles).
            </li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>Article 2: Rights</h3>
      <ul>
        <li>
          <p>Section 2: Policies</p>
          <ul>
            <li>
              Sub-Section 1: Any associate may create a sub group (Working
              Group) for an activity or subject.
            </li>
            <li>
              Sub-Section 2: A sub group may propose a new policy, but only
              members can approve it (make it official).
            </li>
            <li>
              Sub-Section 3: Policies are not binding to members and they have
              to promote only policies they agree with.
            </li>
            <li>
              Sub-Section 4: Every member has a right to dissent and fork.
            </li>
            <li>Sub-Section 5: Can campaign against collective's policy.</li>
            <li>
              Sub-Section 6: Can fork and use collective's name if they accept
              basic principles (add differentiating part).
            </li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>Article 3: Membership</h3>
      <ul>
        <li>
          <p>Section 1: Associate</p>
          <ul>
            <li>
              Sub-Section 1: Anyone (any nationality) who agrees with our basic
              principles and constitution can become an associate.
            </li>
            <li>
              Sub-Section 2: An associate can apply for membership after 6
              months of working with the movement.
            </li>
            <li>
              Sub-Section 3: An associate should demonstrate their commitment to
              the basic principles in their work - through blogs, their social
              networks, by organzing events, etc.
            </li>
            <li>Sub-Section 4: They need support from at least two members.</li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>Article 3: Membership</h3>
      <ul>
        <li>
          <p>
            Section 2: Initial Member (No longer applicable. See History at
            Appendix 2)
          </p>
          <ul>
            <li>
              Sub-Section 1: Membership with 6 months validity only. Used for
              bootstrapping.
            </li>
            <li>Sub-Section 2: Initial members have voting rights.</li>
            <li>
              Sub-Section 3: Initial members may apply for full membership after
              6 months.
            </li>
            <li>
              Sub-Section 4: Initial members will be evaluated in the same way
              as associates (See Article 3 - Section 1: Sub-Sections 3 and 4).
            </li>
            <li>
              Sub-Section 5: Initial members were accepted only for first 6
              months.
            </li>
            <li>
              Sub-Section 6: After 6 months of intial membership, they become an
              associate.
            </li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>Article 3: Membership</h3>
      <ul>
        <li>
          <p>Section 3: Member (Permanent Member)</p>
          <ul>
            <li>
              Sub-Section 1: An associate or initial member can apply for
              membership after demonstrating their commitment to this
              constitution in their work.
            </li>
            <li>
              Sub-Section 2: Criteria for membership is given in Article 3 -
              Section 1: Sub-Sections 2, 3 and 4.
            </li>
            <li>Sub-Section 3: Members have voting rights.</li>
          </ul>
        </li>
      </ul>
    </section>

    <section>
      <h3>Article 4: Organizational Goals</h3>
      <p>
        (These are goals for members and we have a separate document
        <a href="../manifesto" target="_blank">"Manifesto"</a> which documents
        the specific policy changes we want to bring about in the society)
      </p>
      <br />
      <ul>
        <li>
          Section 1: At the minimum we would like the ideas of peer-to-peer,
          direct democratic organization to spread in our society.
        </li>
      </ul>
    </section>

    <section>
      <h3>Article 4: Organizational Goals</h3>
      <ul>
        <li>
          Section 2: We recognize that using English as the primary language is
          a barrier for communication and we understand the need for information
          to be available in different languages. We do not discourage the use
          of native language for discussions, but it is preferred to use the
          commonly used language(s) for the sake of better communication since
          we have different people speaking different languages. We will work to
          the best of our efforts to make the information available in different
          languages, starting with the Constitution, Manifesto, website and all
          proposals, according to the availability of time and volunteers.
        </li>
      </ul>
    </section>

    <section>
      <h3>Article 4: Organizational Goals</h3>
      <ul>
        <li>
          Section 3: Register as a political party when we have at least 100
          members in a state. Once we have that we may have to adjust our
          constitution to match the requirements of Election Commission of
          India. Once 100 people sign a resolution to form a party with a
          constitution compliant with Election Commission's requirements, we
          become a registered political party.
        </li>
      </ul>
    </section>

    <section>
      <h3>Appendix 1: The Pirate Label</h3>
      <ul>
        <li>
          The “pirate” label, which had been used by the media and film
          industries in campaigns against copyright infringement, is a
          reappropriation of the word.
        </li>
        <li>
          In sociology and cultural studies, reappropriation is the cultural
          process by which a group reclaims—re-appropriates—terms or artifacts
          that were previously used in a way disparaging of that group.
        </li>
      </ul>
    </section>

    <section>
      <h3>Appendix 2: History</h3>
      <ul>
        <li>
          First batch of initial members of Indian Pirates were initial members
          of Pirate Movement of India.
        </li>
        <li>
          Pirate Movement of India was abandoned since no initial member
          requested permanent membership after 6 months.
        </li>
        <li>
          Initial members joined after first batch of Initial members from
          Pirate Movement of India had their membership valid for some more time
          after new initial memberships were closed.
        </li>
        <li>
          They approved permanent members before their term of 6 months expired,
          from initial members and associates who completed 6 months by then
          (those who joined before them).
        </li>
      </ul>
    </section>
  </div>
</div>
<!-- <script src="/js/presentations/head.min.js"></script> -->
<!-- <script src="/js/presentations/reveal.js"></script> -->
<!-- <script>
    // Full list of configuration options available here:
    // https://github.com/hakimel/reveal.js#configuration
    Reveal.initialize({
        slideNumber: 'c/t',
        transition: 'convex'
    });
</script> -->
