---
title: "Social"
---

<section id="note" class="page">
  <div class="row">
    <div class="col-md-12">
      <h2>Chatrooms</h2>
      <p>Indian Pirates have presence on Matrix, XMPP and IRC. All these three chatrooms are bridged to each other which means if you join any one room your messages will be synced across all the rooms. More details about each room is given below.</p>
    </div>
  </div>
</section>

<section id="matrix" class="page chatroom">
  <div class="row">
    <div class="col-md-12">
      <h2>Matrix Chatroom</h2>
      <ul>
        <li><b>Room ID</b>: <a href="https://chat.diasp.in/#/room/piratesin:diasp.in" target="_blank">#piratesin:diasp.in</a></li>
      </ul>
      <p>You can either join as guest from a web client like <a href="https://chat.diasp.in">https://chat.diasp.in</a> (If you aleady have a diaspora account on diasp.in then you can join with the same login credentials) or you can join from a matrix client like <a href="https://riot.im">Riot</a> which is available on Desktop, Mobile and Web.</p>
    </div>
  </div>
</section>

<section id="xmpp" class="page chatroom">
  <div class="row">
    <div class="col-md-12">
      <h2>XMPP Chat Room</h2>
      <ul>
        <li><b>Room ID</b>: piratesin</li>
        <li><b>Server</b>: conference.diasp.in</li>
      </ul>
      <p>You can use any XMPP Client to join the chat (for example <a href="https://www.pidgin.im/">Pidgin</a> for Desktop, <a href="https://f-droid.org/repository/browse/?fdid=eu.siacs.conversations">Conversations</a> for Android, etc). You can find a list of XMPP Clients at <a href="http://xmpp.org/software/clients.html">http://xmpp.org/software/clients.html</a>. If you are new to XMPP (also known as Jabber), you can use the free online web service located at <a href="https://conversejs.org" target="_blank">https://conversejs.org</a> to login and join the chat.</p>
      <p>If you don't have an XMPP account already, you can register for a new one at <a href="https://diasp.in/" target="_blank">diasp.in</a> or <a href="https://disroot.org" target="_blank">disroot.org</a> or at any other XMPP Providers listed at <a href="https://xmpp.net/directory.php" target="_blank">https://xmpp.net/directory.php</a> or <a href="http://www.jabberes.org/servers/" target="_blank">http://www.jabberes.org/servers</a>. Also check <a href="https://podupti.me/">https://podupti.me</a> for a list of <a href="https://wiki.diasporafoundation.org/FAQ_for_users" target="_blank">Diaspora</a> <a href="https://wiki.diasporafoundation.org/Choosing_a_pod" target="_blank">Pods</a> with XMPP support.</p>
      <h3>You can also join the following conferences:</h3>
      <ul>
        <li><b>Indian Pirates - Chennai Conference</b>: chennaipirates@conference.diasp.in</li>
        <li><b>Indian Pirates - Mumbai Conference</b>: mumbaipirates@conference.diasp.in</li>
        <li><b>DIaspora Yatra 2 Conference (invite-only)</b>: yatra2@conference.diasp.in</li>
      </ul>
    </div>
  </div>
</section>

<section id="irc" class="page chatroom">
  <div class="row">
    <div class="col-md-12">
      <h2>IRC Chatroom</h2>
      <ul>
        <li><b>Room ID</b>: piratesin</li>
        <li><b>Server</b>: pirateirc.net</li>
      </ul>
      <div class="contact">
        <p class="last">In case of any issues feel free to contact us at <a href="mailto:indianpirates@mail.com">indianpirates@mail.com</a></p>
      </div>
    </div>
  </div>
</section>
