<!DOCTYPE html>
<html>
    {{- partial "header.html" . -}}
    <body>
        {{- partial "nav.html" . -}}
        <div id="content">
            {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
    </body>
</html>
