{{define "main"}}
<br />
<section class="page">
  <h1 class="text-center">{{.Title}}</h1>

  {{if eq .Section "blog"}}
  <h3>Recent Tags:</h3>
  <div class="tags">
    {{ range .Pages}} {{range .Params.Tags }}
    <span class="label" style="margin: 0.4em">
      <a
        style="color: white; text-decoration: none"
        href='{{ "tags/" | relLangURL }}{{.}}'
        >{{.}}</a
      >
    </span>
    {{ end }} {{end}}
  </div>
  {{ end }} 
	{{ range .Pages}} {{if eq .Section "statements"}}
  <div style="margin: 1em">
    <h3><a class="link" href="{{.Permalink}}">{{.Title}}</a></h3>
    <div class="list-item">
			<small class="label-dark"> {{ .Date | time.Format ":date_long" }} </small>
			{{ with .Params.Author }}
      <p style="margin-right: 20px">
        <b>By : </b
        ><a class="link" href="{{ .Params.author_about }}"
          >{{ .Params.Author }}</a
        >
      </p>
      {{ end }}
      <p><b>Reading Time:</b> {{.ReadingTime}} min</p>
    </div>
    <small>{{ .Summary }}</small>
  </div>
  {{end}} {{end}}
</section>
{{end}}
