{{define "main"}}
<section class="page">
  <h1 class="title-center">{{.Title}}</h1>
	{{if eq .Section "statements"}}
  <h4 class="title-center">{{.Date}}</h4>
	{{end}}
  <hr>
  {{.Content }}
</section>
{{end}}
