---
title: "Statement on Ayodhya Verdict of 9th November 2019"
slug: "ayodhya-verdict"
---
<section id="statement" class="page">
  <h5 class="date">November 18, 2019</h5>
  <div class="content" style="text-align:left">
    <h3>We endorse these reactions from a diverse group of people who are outraged by this <a href="https://en.wikipedia.org/wiki/2019_Supreme_Court_verdict_on_Ayodhya_dispute" target="_blank">judgement</a>.</h3>
      <blockquote>
        <p>"Listen. Don't despair. We knew this was coming.<br>
          This was a purely political judgment made by those in power. It does not change the truth. Truth is eternal and truth always wins.<br>
          Whatever has happened, has happened. We know we are right<br>
          Let's not be defeated or lose hope because if we do, we are giving them exactly what they want.<br>
          Democratic ideals may have taken a beating today but we'll rise again, provided we work towards doing so."</p>
      </blockquote>
      <p>Source: <a href="https://mastodon.social/@ParadoxicalPari/103106467727994002" target="_blank">https://mastodon.social/@ParadoxicalPari/103106467727994002</a></p><br>

      <blockquote>
        <p>"Even though I expected this, my heart breaks. Also the amount of money that will now go into the construction of an ostentatious Temple. Just so tired of tax-payer's money being spent on statues, and temples, rather than malnutrition, stabilisation of economy, and climate control."</p>
      </blockquote>
      <p>Source: <a href="https://mastodon.social/@Paridhigupta/103106490733364276" target="_blank">https://mastodon.social/@Paridhigupta/103106490733364276</a></p><br>

      <blockquote>
        <p>"what IF masjid was not demolished ..based on today's judgement would SC have asked govt to demolish it to build the mandir ..."<br>
          "what if people start destroying mosques that were built on previous hindu structures, does that then become legal based on today’s judgment? Does that mean destruction of some of our iconic monuments is completely legal?"</p>
      </blockquote>
      <p>Source: <a href="https://mastodon.social/@Pandey_priyanka/103107004974127510" target="_blank">https://mastodon.social/@Pandey_priyanka/103107004974127510</a></p><br>

      <blockquote>
        <p>"Even if we agree that Babri mosque was built after demolishing a temple, how far back in history do we go? Do we check if the earlier temple was built after demolishing a stupa? Or someone's house?<br>
          This is a property dispute, not historical investigation into the first structure that was ever built at the site."</p>
      </blockquote>
      <p>Source: <a href="https://mastodon.social/@h_tejas/103108088242933609" target="_blank">https://mastodon.social/@h_tejas/103108088242933609</a></p><br>

      <blockquote><p>"The main beneficiaries of the Supreme Court's verdict on Saturday are organically linked to the main accused in the crime of demolishing the mosque. And that's not good for India."</p></blockquote>
      <p>Source: <a href="https://thewire.in/communalism/supreme-court-ayodhya-babri-masjid-ram-janambhoomi" target="_blank">https://thewire.in/communalism/supreme-court-ayodhya-babri-masjid-ram-janambhoomi</a></p><br>

      <blockquote><p>To my mind, the court's mandate is not to rule in the interest of peace. It is to rule in the interest of justice. Ensuring peace is the mandate of law enforcement.</p></blockquote>
      <p>Source: <a href="https://mastodon.social/@MitaliSaran/103112402716560688" target="_blank">https://mastodon.social/@MitaliSaran/103112402716560688</a></p><br>

      <blockquote><p>Does it appear as if a majoritarian judgement was delivered within a majoritarian ethos to please the majority? Does it set a precedent? We have an ancient history when entire cities have been built on the ruins of other cities. (Delhi was razed and rebuilt seven times).</p></blockquote>
      <p>Source: <a href="https://www.hindustantimes.com/analysis/the-ayodhya-verdict-is-this-justice-i-ask-myself/story-krRBa0Sn6kJxTZdFFF5XEP.html" target="_blank">https://www.hindustantimes.com/analysis/the-ayodhya-verdict-is-this-justice-i-ask-myself/story-krRBa0Sn6kJxTZdFFF5XEP.html</a></p><br>

      <blockquote>
        <p>Roses are Red<br>
          Verdicts are Saffron<br>
          You can't escape<br>
          They'll come for everyone</p>
      </blockquote>
      <p>Source: <a href="https://mastodon.social/@SSangita/103109564886329416" target="_blank">https://mastodon.social/@SSangita/103109564886329416</a></p><br>

      <blockquote>
        <p>So three findings emerge:<br>
          1. That the 1949 installation of idols was illegal<br>
          2. That the 1992 demolition was illegal.<br>
          3. No evidence that Babri masjid was build by <em>demolishing</em> a temple.<br>
          Who is the wronged and who is the wrongdoer again?</p>
      </blockquote>
      <p>Source: <a href="https://mstdn.social/@prasanna_s/103107498062351871" target="_blank">https://mstdn.social/@prasanna_s/103107498062351871</a></p><br>

      <blockquote>
        <p>Orijit Sen says it all.<br>
          जिसकी लाठी उसकी भैंस<br>
          Might is right.<br></p>
          <a href="https://cdn.mstdn.social/mstdn-social/media_attachments/files/000/143/213/original/a254fa82c44e87cc.jpeg" target="_blank"><img src="https://cdn.mstdn.social/mstdn-social/media_attachments/files/000/143/213/small/a254fa82c44e87cc.jpeg" alt="null"></a>
      </blockquote>
      <p>Source: <a href="https://mstdn.social/@KavitaKrishnan/103108483828905988" target="_blank">https://mstdn.social/@KavitaKrishnan/103108483828905988</a></p><br>

      <blockquote><p>Two mins silence for those who think BJP now is going to start talk about development and economy!</p></blockquote>
      <p>Source: <a href="https://mastodon.social/@CZubair/103108994459686767" target="_blank">https://mastodon.social/@CZubair/103108994459686767</a></p><br>

      <blockquote>
        <p>To liberals who think they're safe,<br>
          First they came for the Communists<br>
          And I did not speak out<br>
          Because I was not a Communist<br>
          Then they came for the Socialists<br>
          And I did not speak out<br>
          Because I was not a Socialist<br>
          Then they came for the trade unionists<br>
          And I did not speak out<br>
          Because I was not a trade unionist<br>
          Then they came for the Jews<br>
          And I did not speak out<br>
          Because I was not a Jew<br>
          Then they came for me<br>
          And there was no one left<br>
          To speak out for me.<br>
          --Martin Niemöller</p>
      </blockquote>
      <p>Source: <a href="https://mastodon.social/@gaikwadshogun/103109208682346983" target="_blank">https://mastodon.social/@gaikwadshogun/103109208682346983</a></p>
  </div>
</section>
