---
title: "Indian Pirates endorse the following demands, for effective curbing of black money in India, originally proposed by Swaraj India"
slug: "blackmoney"
---
<section id="statement" class="page">
  <h5 class="date">December 17, 2016</h5>
  <div class="content">
    <p>We demand that along with the demonetization move, the Government should announce the following measures:</p>
    <ol>
      <li>A robust system to identify and confiscate the black money that is stashed in the form of benami properties, shares and gold.</li>
      <li>A ban on “tax havens” like Mauritius and P-Notes that are used to convert black money into white money.</li>
      <li>For stopping use of black money in politics, political parties should be brought under ambit of RTI; BJP and all political parties should be made to disclose all details of cash donations; and Congress and BJP should be penalized for accepting foreign donations.</li>
      <li>In the current session of Parliament, the conspiracy to make the anti-corruption laws ineffective should be stopped by consensus of all political parties.</li>
      <li>For independent inquiry into corruption in high offices, appointment to the posts of Lokpal, which has remained vacant for past two and half years, should be done immediately.</li>
      <li>All black money recovered from the demonetisation exercise should be utilized for social security expenditure for creating assured income for farmers and unorganized labour.</li>
    </ol>
  </div>
  <div id="references">
    <h3>References</h3>
    <ul class="citation">
      <li>Originally proposed by Swaraj India: <a href="https://www.swarajabhiyan.org/content/news/382">https://www.swarajabhiyan.org/content/news/382</a></li>
    </ul>
  </div>
</section>
