---
title: "Statement on CAA (Citizenship Amendment Act) and NRC (National Register of Citizens)"
slug: "caa-nrc"
---
<section id="statement" class="page">
  <h5 class="date">January 15, 2020</h5>
  <div class="content" style="text-align:left">
    <p>We, Indian Pirates, believe all human beings are equal in dignity and rights. We believe that everyone should be able to enjoy the right to life, liberty and security of person. India for centuries has always welcomed the persecuted, regardless of their religion. That has been our tradition. In this matter, we have remained a nation of righteousness. When a person seeks Indian citizenship, that is an act by their choice. And this step towards a better life should never go through a sieve based on religion. A person's identity is many things, but not restricted to their religion. And for many, religion is not even a part of their Identity. The current government has incessantly tried to reduce one's identity to their religion. CAA/NRC discriminates based on religion and place of birth. Place of birth and often, one's religion are not by choice. May be this communal raj can only see a person through the lens of religion. But that is not how an empathetic Indian would.</p>

    <p>In India, Citizenship allows a person to be part of its democratic framework and enables them to enjoy civil rights guaranteed by the Constitution for Citizens of India. Citizenship is considered the right to have rights. Being able to take part in the system that designs the laws of the society we belong to (including voting rights and engaging in political activities) is the most essential of them. Thus Citizenship is an important identity for a person to enjoy their most fundamental right, domestic and international, with respect to the country a person resides.</p>

    <p>Since citizenship grants rights defined by the Constitution to those who qualify, granting of citizenship is also susceptible for exploitation. It is necessary to put reasonable restrictions on granting citizenship to ensure the security of its existing citizens and not hurt their rights enshrined in the Constitution. There is already an existing procedure to apply for citizenship in India with reasonable restrictions. But this doesn't apply in the case of refugees that come to India facing persecutions of various kinds who cannot wait for a citizenship through the procedures defined.</p>

    <p>It is our responsibility to make definitions for what should be a reasonable classification for this case considering human rights of refugees, which should be easy enough since the Article 14 of our Constitution already provides base for a reasonable classification.</p>

    <ul>
      <li>The classification is based upon intelligible differentia that distinguishes persons or things that are grouped from others that are left out of the group, and,</li>

      <li>The differential has a rational relation with the objective of the act.</li>
    </ul>

    <p>The Citizenship Amendment Act, as it is enacted, can not be considered to uphold Human Rights Internationally or National interests. We believe that the classification currently adopted is not based on intelligible differentia as it doesn't classify on the basis of all persecuted minorities  and is an attempt to introduce religious bias in an issue of Human Rights. It creates a dual standard in the rule of law.</p>

    <p>Pirates understand the act itself is in contradiction with the Article 14 of the Constitution which promises equality before law and it challenges the basic features of the Constitution—equality and secularism. We recognize the ill effects of this act can create a scar on our unity. With above said reasons, we believe the act is unconstitutional and Indian Pirates rejects the Citizenship Amendment Act 2019.</p>

    <p>As an alternative to this act, Indian Pirates suggests to form a definition for refugee in accordance to United Nations High Commissioner for Refugees (UNHCR) and to derive an impartial legislation to relax the process for citizenship for all refugees.</p>

    <p>A NRC with the backing of CAA, as defined by the Home minister of Union government, will be discriminatory and will change the demographics of our country. We believe such a NRC is not in line with principles put forward by our constitution and we urge the people of India to not to cooperate with the attempts to implement such a citizenship register.</p>

    <p>We believe the undergoing NPR can be used to create a nationwide NRC similar to NRC implemented in Assam ( the pretest form of NPR clearly asks for information about parents and their birth ) and we urge the people of India to not to cooperate with data collection for NPR.</p>

    <p>Also the documents used to provide data requested about parents (as seen in pretest forms of NPR) is going to affect the poor of this nation, irrespective of their religion, who has not received or have the documents to prove their identity. The inability to grant proper documents is a failure of governance. Instead of recognizing that problem, nationwide NRC will put the responsibility on its citizens to prove their identity. It should be the duty of the government to recognize its citizens, not the responsibility of people to prove their citizenship to the government.</p>

    <p>We appreciate state governments which announced indefinite halt on NPR and urge all state governments to follow.</p>

    <p>Pirates recognize and condemn BJP's attempts to divide the nation in the name of religion and by spreading messages of hatred. We condemn  Prime Minister of India for misleading the people of India and we urge Union government to answer the queries of the people about CAA, nationwide NRC and NPR through a credible source.</p>

    <p>Pirates condemn the attempts to silence the voice of people of India by imposing IPC Section 144, travel restrictions and through internet shutdowns. We believe this is an attack on rights promised by Article 19 of Constitution of India. Internet is a basic necessity which is needed for the proper functioning of a society; depriving of access to internet is not only violation the right to expression, but also is against right to life and liberty.</p>

    <p>Pirates condemn the excessive and disproportionate use of violence by police. We observe police itself is breaking the law and protocols to incite violence on people. [We condemn the unlawful activities by police and ask for a special investigation on the atrocities by police.] We condemn the unlawful detentions and the restriction of lawful rights for the detainees.</p>

    <p>A detention center for those who are not listed in a nationwide NRC with presence of current CAA would be a detention center for Muslims, this is grim reminder of what Nazi Germany did to Jews. We believe detention centers are a violation of Human Rights.</p>

    <p>We, Indian Pirates, observe this citizenship register as an effort by BJP and RSS to convert Republic of India into a fascist hindutva rashtra. This act is not an issue related to some minority religions of India, but an open attack on the constitutional values that protect our rights. We believe defending our constitution and its principles are our duty. Indian Pirates, urge the people of India to occupy the streets peacefully to show your protest and actively take part in politics and elections in order to protect our constitution.</p>
  </div>

  <div id="references">
    <h3>References</h3>
    <ul class="citation">
      <li>Discussion thread on codema.in:<br><a href="https://codema.in/d/RkKUMr0v/public-concerns-on-citizenship-amendment-act-caa-and-national-register-of-citizens-nrc">https://codema.in/d/RkKUMr0v/public-concerns-on-citizenship-amendment-act-caa-and-national-register-of-citizens-nrc</a></li>
    </ul>
  </div>
</section>
