---
title: "Indian Pirates demand fast-tracking of Babri Masjid demolition trial"
slug: "fast-track-babri-trial"
---

<style type="text/css">
  @import url("<?php echo base_url(); ?>assets/css/page.css");
</style>
<section id="statement" class="page">
  <h5 class="date">August 12, 2020</h5>
  <div class="content" style="text-align:left">

    <p>Supreme court has ruled that the demolition and 1949 desecration of the Babri Masjid as a violation of law<sup><a href="#references">[1]</a></sup>.</p>

    <p>Liberahn Commission report holds 68 people culpable involving senior BJP leaders. A commission that was started in 1992 and an ever lagging case seeing no justice in case that has led to communal riots, is no good for a secular state. We demand a fast track trial and bring the culprits to justice. With how current affairs around Ayodhya temple is going on, it feels like a whitewashing<sup><a href="#references">[2]</a></sup> of the crimes commited.</p>

    <p>We are alarmed that the opposition is playing soft hindutva in this matter and is welcoming acts towards breaking the secular nature of our country. We expect better from the opposition in this regard like the CPI(M)'s statement<sup><a href="#references">[3]</a></sup>.</p>

    <p>Is is appropriate for a Prime minister of a nation, on behalf of entirety of its population, to compare Ram Mandir Pooja to Freedom Struggle when it was built on violence and ended up in a communal riot that killed thousands?<sup><a href="#references">[4]</a></sup></p>

    <p>As PM Modi talks about ram rajya and protecting the one who seeks refuge, we would like to know if all refugees are welcome in this ram rajya of BJP?</p>

    <p>In closing we would like to share this poem by Rabindranath Tagore.</p>

    <p>"Deeno Daan" or "There is no God in that temple."<sup><a href="#references">[5][6]</a></sup></p>

    <blockquote>
      <p>“There is no god in that temple”, said the Saint.
        <br>
        The King was enraged;
        <br>
        “No God? Oh Saint, aren’t you speaking like an atheist?
        <br>
        On the throne studded with priceless gems, beams the golden idol,
        <br>
        And yet, you proclaim that’s empty?”
        <br>
        “It’s not empty; It’s rather full of the Royal pride.
        <br>
        You have bestowed yourself, oh King, not the God of this world”,
        <br>
        Remarked the saint.
        <br>
        The King frowned, “2 million golden coins
        <br>
        Were showered on that grand structure that kisses the sky,
        <br>
        I offered it to the Gods after performing all the necessary rituals,
        <br>
        And you dare claim that in such a grand temple,
        <br>
        There is no presence of God”?
        <br>
        The Saint calmly replied, “in the very year in which, twenty million of your subjects were struck by a terrible drought;
        <br>
        The pauperized masses without any food or shelter,
        <br>
        came begging at your door crying for help, only to be turned away,
        <br>
        they were forced to take refuge in forests, caves, camping under roadside foliages, derelict old temples;
        <br>
        and in that very year
        <br>
        when you spent 2 million gold to build that grand temple of your's,
        <br>
        that was the day when God pronounced:
        <br>
        “My eternal home is lit by everlasting lamps,
        <br>
        In the midst of an azure sky,
        <br>
        In my home the foundations are built with the values:
        <br>
        Of Truth, Peace, Compassion and Love.
        <br>
        The poverty stricken puny miser,
        <br>
        Who could not provide shelter to his own homeless subjects,
        <br>
        Does he really fancy of giving me a home?”
        <br>
        That is the day God left that Temple of yours.
        <br>
        And joined the poor beside the roads, under the trees.
        <br>
        Like emptiness of the froth in the vast seas,
        <br>
        Your mundane temple is as hollow.
        <br>
        It’s just a bubble of wealth and pride.’
        <br>
        The enraged King howled,
        <br>
        “oh you sham cretin of a person,
        <br>
        Leave my kingdom this instant’.
        <br>
        The Saint replied calmly,
        <br>
        “The very place where you have exiled the Divine,
        <br>
        Kindly banish the devout too".
      </p>
    </blockquote>

    <div id="references">
      <h3>References</h3>
      <ul class="citation">
        <li>[1] <a href="https://en.wikipedia.org/wiki/2019_Supreme_Court_verdict_on_Ayodhya_dispute" target="_blank">https://en.wikipedia.org/wiki/2019_Supreme_Court_verdict_on_Ayodhya_dispute</a></li>
        <li>[2] <a href="https://twitter.com/SaketGokhale/status/1290532356688760834" target="_blank">https://twitter.com/SaketGokhale/status/1290532356688760834</a></li>
        <li>[3] <a href="https://cpim.org/pressbriefs/ayodhya-let-trust-do-its-job" target="_blank">https://cpim.org/pressbriefs/ayodhya-let-trust-do-its-job</a></li>
        <li>[4] <a href="https://swarajyamag.com/politics/full-text-of-pm-modis-speech-at-ram-mandir-bhoomi-pujan" target="_blank">https://swarajyamag.com/politics/full-text-of-pm-modis-speech-at-ram-mandir-bhoomi-pujan</a></li>
        <li>[5] <a href="https://www.thenewsminute.com/article/ram-mandir-why-120-year-old-tagore-poem-going-viral-130168" target="_blank">https://www.thenewsminute.com/article/ram-mandir-why-120-year-old-tagore-poem-going-viral-130168</a></li>
        <li>[6] <a href="https://www.telegraphindia.com/opinion/enduring-echoes-the-universal-truth-of-art/cid/1788610" target="_blank">https://www.telegraphindia.com/opinion/enduring-echoes-the-universal-truth-of-art/cid/1788610</a></li>
        <li>Discussion thread on codema.in:<br><a href="https://codema.in/d/EcAwbkra/publish-a-statement-demanding-fast-tracking-babri-demolition-trial">https://codema.in/d/EcAwbkra/publish-a-statement-demanding-fast-tracking-babri-demolition-trial</a></li>
      </ul>
    </div>
  </div>
</section>
