---
title: "Indian Pirates endorse the following statement, demanding release of free software contributor and privacy advocate Ola Bini"
slug: "free-olabini"
---
<section id="statement" class="page">
  <h5 class="date">April 19, 2019</h5>
  <div class="content">
    <h2>Free Ola Bini Solidarity Letter</h2>
    <h3>Ola Bini is a developer, not a criminal.</h3>
    <p>As technologists, free and open source developers, and individuals and organizations working to protect the security of the Internet, we wish to protest in the strongest terms the continuing illegal detention in Ecuador of Ola Bini, a cyber-security expert, privacy consultant, free software contributor and advocate of digital rights. We see his ongoing, preventive detention as arbitrary and as an attack against us all.</p>
    <p>Ola was detained at Quito airport on April 11 and prevented from boarding a plane to Japan. His basic rights were denied: he was not informed of the accusations against him, nor was he provided translation into his native language, Swedish, and he was kept in illegal custody without the ability to communicate with the Swedish consul, in flagrant disregard of Ecuador's constitution.</p>
    <p>After 17 hours, he was finally granted access to legal assistance and, 30 hours after his detention, a judge ordered him to be held for 90 days pretrial detention, dismissing all arguments of the defence and presenting extremely dubious evidence against him obtained by police and the prosecution. Photographs of Ola's equipment, books, and even stickers were published by the Ecuadorian police's Twitter account.</p>
    <p>Following his arrest, Ecuador's Minister of Interior, María Paula Romo—-who had just days prior held a press conference in which she claimed that Russian hackers, and a Wikileaks affiliate, were living in Ecuador--told the BBC that Ola had visited Julian Assange many times over the years, and accused of him of collaborating with former government officials to destabilise the current government.</p>
    <p>Ola Bini is a cybersecurity expert and privacy consultant in the field of Free and open source software, as well as a defender of digital rights. He is a Swedish national, living with a valid permit in Ecuador for six years, a country he loves and where he has built his life. Ola has been a software developer his entire life, having started coding as an 8 year old child. He is a prolific contributor to a long list of projects, among them OTRv4 and JRuby, and is a member of the advisory board of the flagship European project DECODE (grant nr 732546) on advanced cryptographic and privacy by design research. His continuing detention negatively affects this important work.</p>
    <p>But above all, Ola is a loving, caring human being, who has devoted his life to what he believes is right and fair. He is a respected and important member of our community. He is one of us. For years, our community, our work has been persecuted, smeared and criminalised. Ola's case proves how vulnerable and unprotected we are, how easy it is to be targeted, and how easy it is for state actors to abuse their power arbitrarily against us.</p>
    <p>Ecuador's actions against Ola impact us all. If members of our community are presented to the public as spies, hackers, hidden conspirators, intruders, then we are all at risk of being seen as a danger to society.</p>
    <p>That is why we must raise our voices as one and demand that Ecuadorian authorities immediately release Ola Bini and unconditionally drop all charges against him.</p>
    <p>Upholding the right to privacy is not a crime. Defending the right to free and open software is not a crime. Ola devotes his life to everyone's freedom. Now, it's our turn to fight for Ola's freedom.</p>
    <p>We want him safe, we want him back, we want him free!</p>
    <p>#FreeOlaBini</p>
  </div>
  <div id="references">
    <h3>References</h3>
    <ul class="citation">
      <li>Originally proposed by: <a href="https://freeolabini.org/en/statement/" target="_blank">https://freeolabini.org/en/statement</a></li>
    </ul>
  </div>
</section>
