---
title: "Online education in the time of COVID-19 and the excluded"
slug: "online-education"
---
<section id="statement" class="page">
  <h5 class="date">June 23, 2020</h5>
  <div class="note text-center">Read the original content in malayalam <a href="<?php echo base_url(); ?>statements/online-education/ml">here</a></div>
  <div class="content" style="text-align:left">
    <p>COVID-19 poses many challenges for us. Reopening schools with COVID-19 prevention measures such as social distancing is such a great challenge. It is a welcome move to use technology to respond to changing times, but at the same time under the influence of circumstantial pressure, when such decisions are taken without much thought, we also have the responsibility to ensure, everyone who deserves to be benefited is actually included. It is the failure of living up to that responsibility that resulted in the death of a 9th standard student Devika Balakrishnan for lack of necessary facilities. No one else should go through the same situation again. We need the courage to acknowledge what failed, fix those mistakes, and make sure they won't repeat in future.</p>

    <h3>Practical challenges and failures in facing them</h3>

    <p>Lack of proper planning like training teachers, ensuring everyone has the required facilities to participate and failure to communicate the role of parents in the new process and educating them about it also contributed to the failure of the online education trials. We also understand there was a communication gap to emphasize that the classes were only trial and classes will be telecast again later. We also understand the people who did not have the facilities were not consulted in this decision. They could have waited till everyone had the required facilities to participate or trial could have been done in a limited area like a district and include every student.</p>

    <h3>Way Forward</h3>

    <ol>
    <li>Education is a constitutional right and government cannot abdicate its responsibilities to some charities and clubs.</li>
    <li>Opportunities should not be lost for students who did not get adequate facilities for online classes. Extending the academic year, giving grace marks are some of the options.</li>
    <li>More than 2.5 lakh students did not have television as per the numbers quoted by the Chief Minister. We have noticed the letters to MLAs and local governments to provide required facilities. That is not sufficient, state government should audit and ensure they have complied with the request. The same approach should be in the future steps too.</li>
    <li>In places without TV, Smart Phone or Internet access and when there are less number of students in an area, reopening schools following the COVID-19 guidelines can be considered.</li>
    <li>In places without cable or Internet connection, alternate methods of sharing recorded video like CD, pen drive or memory card, can be explored.</li>
    <li>Low cost computers with adequate performance like the Celeron based laptops from Intel or Single Board computers like Raspberry Pi can be considered.</li>
    <li>In many government offices, old computers that can be repaired are destroyed or sold, such computers can be refurbished and used for this purpose.</li>
    <li>IIT Bombay has made available a low-cost laptop for Rs.10,000<sup><a href="#references">[1][2]</a></sup>. The sufficiency of such a laptop has been validated by conducting detailed studies at IIT Bombay through students, who underwent an introductory and compulsory CS101 course. KITE should take initiative to explore such options and make them available to students. We are ready to offer our help to find such low-cost options and provide technical support to set it up<sup><a href="#references">[3]</a></sup></li>
    <li>Classes should be telecast on radio in addition to TV at least till classes reopen. Since radio is roughly one tenth of the cost of TV, it can include more students. It can also work in places without electricity via battery and solar power. All India Radio and FM stations schedules can be bought for this purpose. If required laws like ESMA can be invoked. Programmes that IT@School/KITE prepare should assume there are students who can only listen to audio. Portions that requires visuals should be repeated once the class reopens.</li>
    </ol>

    <h3>Fundamental issues and changes required in policy and approach</h3>

    <ol>
      <li>The issues cited above are symptoms only, the solutions are like pain killers, the real changes should happen in our approach to public education and related policies. A school should function even it is for a single student. Because schools should not be looking at profit alone.</li>
      <li>It is our responsibility that not even a single student is not losing opportunity to study. The policy of keeping only profitable schools are a hindrance for this vision. Citing economic loss and for helping private schools nearby, schools had to be shut down. When schools has to be shut down siting the low number of students<sup><a href="#references">[4]</a></sup>, it also affects the teachers badly<sup><a href="#references">[5]</a></sup>.</li>
      <li>Online education can never be a substitute for school education. Preparing a student for social life would be more important result of school education compared to teaching subjects. That cannot be fulfilled by the current online education. We can go ahead with online/TV education in the current circumstances, but school education provides the initial lessons for social life, that should not be lost for students.</li>
      <li>Government needs money to run basic services like education or health without looking at profits. It is difficult for a a government only depending on tax revenue. This would be possible only when government has profit making institutions as well.</li>
      <li>It is not good to blame the central government for everything<sup><a href="#references">[6]</a></sup>. Whenever some issues pops up, looking only at political benefits and engaging in mudslinging at each other can only make things worse than actually changing things for better.</li>
    </ol>

    <div id="references">
      <h3>References</h3>
      <ul class="citation">
        <li>[1] <a href="https://www.youtube.com/watch?v=Ae3EZsK_yuM" target="blank">https://www.youtube.com/watch?v=Ae3EZsK_yuM</a></li>
        <li>[2] <a href="https://ld.iitb.ac.in/" target="blank">https://ld.iitb.ac.in/</a></li>
        <li>[3] E-mail: ahoy at pirates.org.in, Phone: 8281-739-748 (Ambady)</li>
        <li>[4] <a href="https://newsable.asianetnews.com/kerala/over-20000-school-teachers-to-lose-job-in-kerala" target="blank">https://newsable.asianetnews.com/kerala/over-20000-school-teachers-to-lose-job-in-kerala</a></li>
        <li>[5] <a href="https://www.newindianexpress.com/states/kerala/2019/feb/15/5680-schools-face-closure-due-to-fall-in-student-enrolment-1938955.html" target="blank">https://www.newindianexpress.com/states/kerala/2019/feb/15/5680-schools-face-closure-due-to-fall-in-student-enrolment-1938955.html</a></li>
        <li>[6] <a href="https://cpim.org/pressbriefs/pb-communique-18" target="blank">https://cpim.org/pressbriefs/pb-communique-18</a></li>
        <li>Discussion thread on codema.in: <a href="https://codema.in/d/WH9oyVdp/online-classes-in-kerala-and-suicide-of-dalit-student-devika" target="_blank">https://codema.in/d/WH9oyVdp/online-classes-in-kerala-and-suicide-of-dalit-student-devika</a></li>
      </ul>
    </div>
  </div>
</section>
