---
title: "Indian Pirates endorse the following statement, by Free Speech Collective, in solidarity with Mr. Prashant Bhushan on the initiation of Criminal Contempt Proceedings against him"
slug: "solidarity-with-prashant-bhushan"
---

<section id="statement" class="page">
  <h5 class="date">August 4, 2020</h5>
  <div class="content" style="text-align:left">
    <p>We the undersigned citizens of the country, express our concern with the initiation of contempt proceedings against human right activist and advocate, Mr. Prashant Bhushan, by the Supreme Court of India, in respect of two of his tweets. Mr. Bhushan has been a relentless crusader for the rights of the weakest sections of our society and has spent his career in pro bono legal service to those who do not have ready access to justice. He has fought cases at the Apex Court on issues ranging from environmental protection, human rights, civil liberties, corruption in high places and has been an outspoken champion for judicial accountability and reforms, especially in the higher judiciary.</p>

    <p>In the past few years, serious questions have been raised about the reluctance of the Supreme Court to play its constitutionally mandated role as a check on governmental excesses and violations of fundamental rights of people by the state. These questions have been raised by all sections of society- media, academics, civil society organisations, members of the legal fraternity and even by sitting and retired judges of the Supreme Court itself. Most recently, the Supreme Court’s reluctance to intervene in a timely manner to avert the migrant crisis during the lockdown came under intense public scrutiny. Concerns have also been raised regarding the decision of the court to not restart physical hearings, even in a limited manner, despite passage of five months since the onset of the COVID pandemic.</p>

    <p>We urge the Hon’ble judges of the Supreme Court to take note of these concerns and engage with the public in an open and transparent manner. The initiation of contempt proceedings against Mr. Bhushan who had articulated some of these concerns in his tweets, appears to be an attempt at stifling such criticism, not just by Prashant Bhushan but by all stakeholders in the Indian democratic and constitutional setup. We believe the institution must address these genuine concerns.</p>

    <p>We urge the Hon’ble judges of the Supreme Court to take note of these concerns and engage with the public in an open and transparent manner. The initiation of contempt proceedings against Mr. Bhushan who had articulated some of these concerns in his tweets, appears to be an attempt at stifling such criticism, not just by Prashant Bhushan but by all stakeholders in the Indian democratic and constitutional setup. We believe the institution must address these genuine concerns.</p>

    <p>An institution as important as the Supreme Court of a country must be open to public discussion without the fear of retribution or action of criminal contempt. Indeed, criminal contempt as an offence has been circumscribed and made redundant in most functioning democracies, such as the USA and the UK. In the landmark U.S. Supreme Court judgement in New York Times v. L.B. Sullivan 11 L’ed (2nd) 686, with respect to contempt of court and the freedom of speech and expression it was held: “Injury to official reputation affords no more warrant for repressing speech that would otherwise be free than does factual error. Where judicial officers are involved, this Court has held that concern for the dignity and reputation of the courts does not justify the punishment as criminal contempt of criticism of the judge or his decision. This is true even though the utterance contains “half-truth” and misinformation”.</p>

    <p>Even in India, the principle that criticism of the judiciary should not be stifled by the indiscriminate use of the power of contempt has been recognized by the Supreme Court as well as by academics and advocates of repute, such as the late Senior Advocate Shri Vinod A. Bobde who had stated [“Scandals and Scandalising”, (2003) 8 SCC Jour 32], “We cannot countenance a situation where citizens live in fear of the Court’s arbitrary power to punish for contempt for words of criticism on the conduct of judges, in or out of court.”</p>

    <p>Therefore in the interest of justice and fairness and to maintain the dignity of the Supreme Court of India, we urge the Court to reconsider its decision to initiate suo-moto contempt proceedings against Mr. Prashant Bhushan and to withdraw the same at the earliest.</p>

    <div id="references">
      <h3>References</h3>
      <ul class="citation">
        <li>Original statement published on FreeSpeechCollective.in: <a href="https://freespeechcollective.in/2020/07/27/former-judges-senior-officials-activists-and-academics-urge-withdrawal-of-contempt-notice-against-prashant-bhushan/" target="blank">https://freespeechcollective.in/2020/07/27/former-judges-senior-officials-activists-and-academics-urge-withdrawal-of-contempt-notice-against-prashant-bhushan/</a></li>
        <li>Discussion thread on codema.in: <a href="https://codema.in/d/SEdoagKG/statement-in-solidarity-with-mr-prashant-bhushan-on-the-initiation-of-criminal-contempt-proceedings-against-him" target="_blank">https://codema.in/d/SEdoagKG/statement-in-solidarity-with-mr-prashant-bhushan-on-the-initiation-of-criminal-contempt-proceedings-against-him</a></li>
      </ul>
    </div>
  </div>
</section>
