<div class="sticky-container">
  <ul class="sticky">
    <li>
      <a href="https://codema.in/g/7qmru1SG/indian-pirates" target="_blank">
        <img width="32" height="32" title="" alt="" src="/img/social/loomio.png" />
        <p class="social-text">Codema</p>
      </a>
    </li>
    <li>
      <a href="https://matrix.to/#/#piratesin:poddery.com" target="_blank">
        <img width="32" height="32" title="" alt="" src="/img/social/matrix.png" />
        <p class="social-text">Matrix</p>
      </a>
    </li>
    <li>
      <a href="https://diasp.in/u/piratesin" target="_blank">
        <img width="32" height="32" title="" alt="" src="/img/social/diaspora.png" />
        <p class="social-text">Diaspora</p>
      </a>
    </li>
    <li>
      <a href="https://www.twitter.com/pirates_in" target="_blank">
        <img width="32" height="32" title="" alt="" src="/img/social/twitter.png" />
        <p class="social-text">Twitter</p>
      </a>
    </li>
    <li>
      <a rel="me" href="https://social.masto.host/@piratesin" target="_blank">
        <img width="32" height="32" title="" alt="" src="/img/social/mastodon.png" />
        <p class="social-text">Mastodon</p>
      </a>
    </li>
    <li>
      <a href="https://tubee.fr/accounts/piratesin/videos" target="_blank">
        <img width="32" height="32" title="" alt="" src="/img/social/peertube.png" />
        <p class="social-text">PeerTube</p>
      </a>
    </li>
    <li>
      <a href="https://www.youtube.com/channel/UCY3LgnoFKNtFDo29dBRQ3qA" target="_blank">
        <img width="32" height="32" title="" alt="" src="/img/social/youtube.png" />
        <p class="social-text">Youtube</p>
      </a>
    </li>
    <li>
      <a href="mailto:ahoy@pirates.org.in" target="_blank">
        <img width="32" height="32" title="" alt="" src="/img/social/email.png" />
        <p class="social-text">Email</p>
      </a>
    </li>
  </ul>
</div>
<div class="mobile-sticky-container">
  <table class="mobile-sticky table-1">
    <tr>
      <td>
        <div class="sticky-bg">
          <a href="https://codema.in/g/7qmru1SG/indian-pirates" target="_blank">
            <img width="32" height="32" title="" alt="" src="/img/social/loomio.png" />
          </a>
        </div>
      </td>
      <td>
        <div class="sticky-bg">
          <a href="https://matrix.to/#/#piratesin:poddery.com" target="_blank">
            <img width="32" height="32" title="" alt="" src="/img/social/chat.png" />
          </a>
        </div>
      </td>
      <td>
        <div class="sticky-bg">
          <a href="https://diasp.in/u/piratesin" target="_blank">
            <img width="32" height="32" title="" alt="" src="/img/social/diaspora.png" />
          </a>
        </div>
      </td>
      <td>
        <div class="sticky-bg">
          <a href="https://www.twitter.com/pirates_in" target="_blank">
            <img width="32" height="32" title="" alt="" src="/img/social/twitter.png" />
          </a>
        </div>
      </td>
      <td>
        <div class="sticky-bg">
          <a href="https://social.masto.host/@piratesin" target="_blank">
            <img width="32" height="32" title="" alt="" src="/img/social/mastodon.png" />
          </a>
        </div>
      </td>
      <td>
        <div class="sticky-bg">
          <a href="https://www.youtube.com/channel/UCY3LgnoFKNtFDo29dBRQ3qA" target="_blank">
            <img width="32" height="32" title="" alt="" src="/img/social/youtube.png" />
          </a>
        </div>
      </td>
      <td>
        <div class="sticky-bg">
          <a href="https://tubee.fr/accounts/piratesin/videos" target="_blank">
            <img width="32" height="32" title="" alt="" src="/img/social/peertube.png" />
          </a>
        </div>
      </td>
      <td>
        <div class="sticky-bg">
          <a href="mailto:ahoy@pirates.org.in" target="_blank">
            <img width="32" height="32" title="" alt="" src="/img/social/email.png" />
          </a>
        </div>
      </td>
    </tr>
  </table>
</div>
<footer id="sitefooter">
<div class="container-fluid">
  <div class="row text-center featured">
    <h4>Indian Pirates featured on</h4>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="http://timesofindia.indiatimes.com/elections-2016/kerela-elections-2016/news/A-pirate-gets-set-to-wade-into-backwaters-of-politics/articleshow/51860995.cms" target="_blank">
        <img class="img img-responsive thumbnail featured-1" src="/img/news/toi.jpeg">
        <h6 class="featured-caption">(National Edition)</h6>
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="http://epaperbeta.timesofindia.com/Article.aspx?eid=31811&articlexml=A-pirate-to-test-poll-waters-in-state-20042016003043" target="_blank">
        <img class="img img-responsive thumbnail featured-1" src="/img/news/toi.jpeg">
        <h6 class="featured-caption">(Kerala Edition)</h6>
      </a>
      </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="http://www.thenewsminute.com/article/indian-pirates-party-all-set-its-virgin-assembly-polls-kerala-41939" target="_blank">
        <img class="img img-responsive thumbnail featured-2" src="/img/news/tnm.png">
      </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-3">
      <a href="https://poddery.com/posts/2427769" target="_blank">
        <img class="img img-responsive thumbnail featured-2" src="/img/news/padabhedham.png">
      </a>
    </div>
  </div>
  <div class="row text-center improve">
    <a href="https://codema.in/g/uyHjLtKn/indian-pirates-web-team" target="_blank">
      <img src="/img/code.ico">
      <span>Improve this page</span>
    </a>
  </div>
</div>
</footer>
</body>
</html>
