<head>
    <meta charset="utf-8" name="viewport" content= "width=device-width, initial-scale=1.0">
	<title>{{.Title}}</title>
	<link href='{{"css/bootstrap.min.css" | absURL}}' rel="stylesheet" type="text/css">
	<link href='{{"css/style.css" | absURL}}' rel="stylesheet" type="text/css">
	<script defer src='{{"js/jquery.min.js" | absURL}}' type="text/javascript"></script>
	<script defer src='{{"js/bootstrap.min.js"| absURL}}' type="text/javascript"></script>
</head>
