<nav class="navbar navbar-inverse">
	<div class="navbar-header">
	    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main">
			<span class="sr-only">Toggle navigation</span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		    <span class="icon-bar"></span>
		</button>
	    <a class="navbar-brand" href="/"><img src="{{"/img/IndianPiratesLogo.svg"|absURL}}" height="50px" alt="Logo of Indian Pirates" /></a>
    </div>
    <div class="collapse navbar-collapse" id="navbar-main">
      	<ul class="nav navbar-nav navbar-right">
	        <li><a href="/">Home<span class="sr-only">(current)</span></a></li>
	       	<li><a href='{{"constitution" | absURL}}'>Constitution</a></li>
			<li><a href='{{"manifesto" | absURL}}'>Manifesto</a></li>
			<li><a href='{{"statements" | absURL}}'>Statements</a></li>
			<li class="dropdown">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Elections <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu" id="elections">
					<li><a href='{{"elections/loksabha2019"| absURL }}'>Lok Sabha Election 2019</a></li>
					<li><a href='{{"elections/kerala2016" | absURL}}'>Kerala Assembly Election 2016</a></li>
				</ul>
			</li>
		    <li class="dropdown">
		        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Campaigns <span class="caret"></span></a>
		        <ul class="dropdown-menu" role="menu" id="campaigns">
		            <li><a href='{{"/campaigns/cycling" | absURL}}'>Pirate Cycling</a></li>
		            <li><a href="http://yatra.diasporafoundation.org" target="_blank">Diaspora Yatra</a></li>
		            <li><a href="https://otr.works/" target="_blank">OTR Works</a></li>
		        </ul>
		    </li>
        	<li> <a href="https://codema.in/d/SFfYwagX/membership-requests" id="joinbutton" class="btn btn-sm btn-warning" target="_blank">Be a Pirate</a> </li>
	    </ul>
	</div>
</nav>
