---
title: "Cycling"
---

<div id="template" class="page">
  <h2>Pirate Cycling 2018</h2>
  <div class="content">
    <p>We are organizing second edition of Pirate Cycling to spread the Pirate Ideas to the wider society. First edition of this activity was 5 years back and mainly focused on issues relating to politics of technology.</p>
    <p>Now we want to expand our focus to issues of identity based discrimination as well. We invite all marginalized or systematically discriminated communities (Women, LGBTIQ, Dalits, Tribals etc) to join this celebration of Pirates.</p>
    <p>Indian Pirates is a political experiment in building a non-hierarchical political movement without separation of leaders and cadres, everyone has the opportunity to participate in policy making and every member has one vote in all decisions.</p>
    <p>Hierarchical organizations and representatives were a historic necessity when communication among a group distributed across a large geographical area was impossible. People had to meet physically to discuss and decide on any issues and this created a barrier for all members to participate.</p>
    <p>With advancement of communication technologies, we no longer have this restriction and every member interested in a topic can participate in discussions and be part of decision making.</p>
                                                                                                                                                                                              <p>You can join us on our discussions at <a href="https://codema.in/g/7qmru1SG/indian-pirates" target="_blank"><button class="btn btn-warning">Codema</button></a> - A collaborative discussion and decision making tool where Indian Pirates' discussions are conducted. 
     </p> 
           <p>If you would like to participate in Pirate Cycling,  <a href="https://codema.in/d/Rk7dXmeV/pirate-cycling-second-edition" target="_blank"><button class="btn btn-warning">RSVP</button></a> here.</p>
    <br>
  </div>
  <h2>Pirate Cycling 2013</h2>
  <div class="content">
    <p>Malayalam Wikipedia page on <a href="https://ml.wikipedia.org/wiki/%E0%B4%AA%E0%B5%88%E0%B4%B1%E0%B5%87%E0%B4%B1%E0%B5%8D%E0%B4%B1%E0%B5%8D_%E0%B4%B8%E0%B5%88%E0%B4%95%E0%B5%8D%E0%B4%B2%E0%B4%BF%E0%B4%99%E0%B5%8D%E0%B4%99%E0%B5%8D" target="_blank">Pirate Cycling</a>.</p>
    <p>You can follow #PirateCycling 2013 updates posted on Diaspora <a href="https://poddery.com/tags/piratecycling" target="_blank">here</a>.</p>
    <a href="https://poddery.com/posts/791401" target="_blank"><img class="img img-responsive" src="<?php echo base_url(); ?>assets/img/cycling/pirate_cycling_2013_poster.png"></a>
    <br>
    <a href="https://poddery.com/posts/804298" target="_blank"><img class="img img-responsive" src="<?php echo base_url(); ?>assets/img/cycling/pirate_cycling_2013_02.jpg"></a>
    <br>
    <a href="https://poddery.com/posts/804298" target="_blank"><img class="img img-responsive" src="<?php echo base_url(); ?>assets/img/cycling/pirate_cycling_2013_01.jpg"></a>
  </div>
</div>
